/* 
Color Palette:
1. #1d3557 - Dark Blue (Background)
2. #407ba7 - Medium Blue
3. #9dcee2 - Light Blue
4. #fedfd4 - Beige
6. #ffffff - White
5. #e63946 - Red
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #1d3557;
  color: #ffffff;
  line-height: 1.6;
  letter-spacing: 0.75px;
}

header {
  background-color: #407ba7;
  padding: 20px 10px 10px;
  border-radius: 0 0 20px 20px;
}

header h1 {
  color: #1d3557;
  font-weight: bold;
  font-size: 1.75rem;
}

header h2 {
  font-size: 1.25rem;
}

main {
  width: 80%;
  margin: auto;
}

#create-legend,
#search-legend {
  padding: 8px;
  border-radius: 20px 20px 0 0;
  margin-bottom: 0;
  background-color: #9dcee2;
  color: #1d3557;
  font-size: 1.125rem;
  font-weight: bold;
  border: none;
  cursor: default;
}

.row {
  gap: 16px;
}

.col-md {
  margin-top: 16px;
}

.form-control {
  background-color: #fedfd4;
  color: #1d3557;
  transition: 0.25s;
}

.form-control:focus {
  background-color: #ffffff;
  color: #1d3557;
}

#input-form .form-control:focus {
  transform: scale(1.08, 1.15);
}

#total::before {
  content: "Total : ";
}

#total {
  background-color: #407ba7;
  border: none;
  color: #ffffff;
  width: 100%;
  height: 58px;
  padding: 8px 4px;
  font-size: 0.85rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: default;
}

.btn {
  letter-spacing: 0.75px;
}

#create-btn,
#delete-all-btn {
  padding: 8px;
  background-color: #407ba7;
  border: none;
  border-radius: 20px;
  color: #ffffff;
  /* font-size: 1.125rem; */
  font-weight: bold;
  transition: 0.25s;
}

#create-btn {
  background-color: #407ba7;
}

#delete-all-btn {
  background-color: #e63946;
}

.hide {
  display: none;
}

#create-btn:hover,
#delete-all-btn:hover {
  transform: scale(1.08, 1.15);
}

.input-group .form-floating,
.input-group .input-group-text {
  margin-top: 16px;
}

#search:focus {
  transform: scale(1.04, 1.15);
}

#search-by {
  padding: 16px 32px;
}

#data {
  overflow-x: auto;
  --w-scrollbar: 8px;
  border-radius: 20px 20px 0 0;
}

.webkit-scrollbar::-webkit-scrollbar {
  width: var(--w-scrollbar);
  height: var(--w-scrollbar);
  border-radius: 9999px;
}

.webkit-scrollbar::-webkit-scrollbar-track {
  background: #0000;
}

.webkit-scrollbar::-webkit-scrollbar-thumb {
  background: #0000;
  border-radius: 9999px;
}

.webkit-scrollbar:hover::-webkit-scrollbar-thumb {
  background: #fedfd4;
}

.table thead tr {
  border: none;
}

.table th {
  background-color: #407ba7;
  color: #1d3557;
  white-space: nowrap;
}

.table td {
  background-color: #1d3557;
  color: #ffffff;
  white-space: nowrap;
}

.edit-btn,
.delete-btn {
  border: none;
  border-radius: 20px;
  color: #ffffff;
  font-size: 0.85rem;
  font-weight: bold;
  transition: 0.25s;
}

.edit-btn {
  background-color: #407ba7;
}

.delete-btn {
  background-color: #e63946;
}

.edit-btn:hover {
  transform: scale(1.1);
  background-color: #407ba7;
}

.delete-btn:hover {
  transform: scale(1.1);
  background-color: #e63946;
}

footer {
  padding: 10px;
  margin-top: 128px;
  background-color: #407ba7;
  width: 100%;
}

footer p {
  margin: 10px;
  color: #1d3557;
}

footer a {
  text-decoration: none;
  color: #1d3557;
}

@media (max-width: 1025px) {
  header h1 {
    font-size: 2rem;
  }

  header h2 {
    font-size: 1.5rem;
  }

  main {
    width: 80%;
  }

  #create-legend,
  #search-legend {
    padding: 16px;
    font-size: 1.4rem;
  }

  .row {
    display: flex;
    flex-direction: column;
    gap: 0;
  }

  .col-md {
    margin-top: 32px;
  }

  .form-control,
  #total,
  .btn,
  tr,
  footer {
    font-size: 1.25rem;
  }
}

@media (max-width: 768px) {
  header h1 {
    font-size: 1.3rem;
  }

  header h2 {
    font-size: 1.125rem;
  }

  main {
    width: 85%;
  }

  #create-legend,
  #search-legend {
    padding: 16px;
    font-size: 1rem;
  }

  #create-btn:hover,
  #delete-all-btn:hover,
  #search:focus {
    transform: scale(1.12, 1.15);
  }

  .col-md {
    margin-top: 16px;
  }

  .form-control,
  #total,
  .btn,
  tr {
    font-size: 0.875rem;
  }

  #search-by {
    padding: 16px 4px;
    font-size: 12px;
  }

  footer {
    font-size: 0.75rem;
  }
}